.POui .div_command_bar,
.POui .div_orders_bar {
    border-image: url(coui://ui/mods/com.stuart98.po/img/img_command_bar_bground_PO.png) 26 24 26 26 fill !important;
}

.POui .div_command_bar_cont,
.POui .div_orders_bar_cont {
    box-shadow: inset 0px 0px 8px rgba(18,255,18,0.5);
}

.POui .div_command_item_active, .POui a.div_command_item_active:hover {
    background: rgba(0,255,0,0.7);
    border: 1px solid rgba(0,158,0,0.5);
    box-shadow: 0px 0px 20px rgba(0,255,0,0.7);
}

.POui .div_command_item a:hover {
    background: rgba(0,255,0,0.85);
    border: 1px solid rgba(0,158,0,0.5);
    box-shadow: 0px 0px 20px rgba(0,255,0,0.85);
}

.POui .span_tooltip_hotkey {
    border:1px solid rgba(0,255,0,1) !important;
    color: rgba(0,255,0,1) !important;
}

.POui .tooltip-inner {
    box-shadow: 0px 0px 20px rgba(0,255,0,0.5) !important;
}

.POui .tooltip_order {
    color: white !important;
}

.POui .btn_std_ix:hover {
    background: rgba(0,255,0,0.85) !important;
    border:1px solid rgba(0,158,0,0.1) !important;
    box-shadow: 0px 0px 10px rgba(0,255,0,0.2) !important;
}

.POui .cmd_order:hover {
    background: rgba(0,255,0,0.8);
    border: 1px solid rgba(0,158,0,0.5);
    box-shadow: 0px 0px 20px rgba(0,255,0,0.8);
}

.POui .cmd_order:active {
    background: rgba(0,255,0,1);
    border: 1px solid rgba(0,158,0,0.5);
    box-shadow: 0px 0px 20px rgba(0,255,0,1);
}

/*no mixed
.mixed .div_command_bar,
.mixed .div_orders_bar {
    border-image: url(coui://ui/mods/com.pa.PO-expansion/img/img_command_bar_bground_mixed.png) 26 24 26 26 fill !important;
}

.mixed .div_command_bar_cont,
.mixed .div_orders_bar_cont {
    box-shadow: inset 0px 0px 8px rgba(99, 14, 138, 0.5);
}

.mixed .div_command_item_active, .mixed a.div_command_item_active:hover {
    background: rgba(179,74,218,0.7);
    border: 1px solid rgba(99,14,138,0.5);
    box-shadow: 0px 0px 20px rgba(179,74,218,0.7);
}

.mixed .div_command_item a:hover {
    background: rgba(179,74,218,0.85);
    border: 1px solid rgba(99,14,138,0.5);
    box-shadow: 0px 0px 20px rgba(179,74,218,0.85);
}

.mixed .span_tooltip_hotkey {
    border:1px solid rgba(159,64,198,1) !important;
    color: rgba(159,64,198,1) !important;
}

.mixed .tooltip-inner {
    box-shadow: 0px 0px 20px rgba(99,14,138,0.5) !important;
}

.mixed .tooltip_order {
    color: white !important;
}

.mixed .btn_std_ix:hover {
    background: rgba(179,74,218,0.85);
    border: 1px solid rgba(99,14,138,0.5);
    box-shadow: 0px 0px 20px rgba(179,74,218,0.85);
}

.mixed .cmd_order:hover {
    background: rgba(179,74,218,0.8);
    border: 1px solid rgba(99,14,138,0.5);
    box-shadow: 0px 0px 20px rgba(179,74,218,0.8);
}

.mixed .cmd_order:active {
    background: rgba(179,74,218,1);
    border: 1px solid rgba(99,14,138,0.5);
    box-shadow: 0px 0px 20px rgba(179,74,218,1);
}