/*
.planetaryobliterationui .div-metal {
    border-image: url('img/status_bar/img-econ-bar-left.png') 60 25 0 51 fill;
}


.planetaryobliterationui .div-energy {
    border-image: url('img/status_bar/img-econ-bar-right.png') 60 51 0 25 fill;
}
*/

.planetaryobliterationui .tooltip-inner {
    box-shadow: 0px 0px 20px rgba(0,255,0,0.5) !important;
} 

/*TODO MIXEDUI */

.mixedui .tooltip-inner {
    box-shadow: 0px 0px 20px rgba(14,99,138,0.5) !important;
}