.planetaryobliteration .content_titans_badge {
    height: 0%
}

.planetaryobliteration .section_title {
    text-shadow: 0px 0px 20px rgba(0,190,0,0.9) !important;
}

.planetaryobliteration .section_title .content .title {
    text-shadow: 0px 0px 20px rgba(0,190,0,0.9) !important;
}

.planetaryobliteration .body {
    color: white !important;
}

.planetaryobliteration label {
    color: white;
}

.planetaryobliteration label:hover {
    color: white;
}

.planetaryobliteration label:active {
    color: white;
}