.planetaryobliteration .lbl_titans.lbl_planetaryobliteration {
    background: rgba(0,158,0,1);
    border: 1px solid white;
}

.planetaryobliteration .section_title {
    border-bottom: 20px solid rgba(0,50,0,0.1);
    box-shadow: 0px 0px 15px rgba(0,255, 0, 0.2);
}

.planetaryobliteration .section_content_top_bar {
    background: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px rgba(0,255, 0, 0.25);
}

.planetaryobliteration .section_content_table {
    box-shadow: inset 0px 0px 20px rgba(100, 100, 0, 0);
}

.planetaryobliteration .section_content {
    background: rgba(0,10,0,0.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(140,255,140,.15);
    border-top: 1px solid rgba(140,255,140,.15);
}

.planetaryobliteration .div_commit_cont {
    background: rgba(0,0,0,0.45);
    border-top: 14px solid rgba(0,0,0,.3);
    box-shadow: 0px 10px 30px rgba(0, 30, 0, 0.8);
}

.planetaryobliteration .div_data_table {
    background: rgba(0, 50, 0, 1);
    border: 1px solid rgba(0,255, 0, 0.25);
    box-shadow: inset 0px 0px 50px rgba(130, 0, 0, 0.2);
}

.planetaryobliteration #game-list-header > div {
    border-bottom: 1px solid rgba(0,255, 0, 0.45);
    border-right: 1px solid rgba(0,255, 0, 0.45);
    text-shadow: 0px 0px 20px rgba(0,200,0,0.8);
    box-shadow: inset 0px 0px 20px rgba(0,255, 0, 0.2);
}

.planetaryobliteration .ui-selected {
    background: rgba(0,255,0,0.8) !important;
    border:1px solid rgba(0, 158, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(0,255,0,0.2) !important;
}

.planetaryobliteration .div_data_table .table_glow {
    box-shadow: 0px 0px 20px rgba(0,255, 0, 0.6);
}

.planetaryobliteration #detail-pane h3 {
    text-shadow: 0px 0px 15px rgba(0,255,0,0.7);
}

.planetaryobliteration #detail-pane .item .text {
    text-shadow: 0px 0px 15px rgba(0,255,0,.5);
}

.planetaryobliteration #detail-pane .item .open {
    text-shadow: 0px 0px 20px rgba(0,200,0,1);
}
    
.planetaryobliteration #detail-pane .item {
    border: 1px solid rgba(140,255,140,.1);
    box-shadow: inset 0px 0px 4px rgba(140,200,140, 0.15);
}

.planetaryobliteration .form-group label,
    .planetaryobliteration #detail-pane .col-header {
        color: rgb(230,230,230);
    }